<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="Abbyy.AnalysisService.WSBinding_IAnalysisService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8002/AnalysisService.svc/soap"
        binding="wsHttpBinding" bindingConfiguration="Abbyy.AnalysisService.WSBinding_IAnalysisService"
        contract="AnalysisService.IAnalysisService" name="Abbyy.AnalysisService.WSBinding_IAnalysisService" />
    </client>
  </system.serviceModel>
</configuration>
