<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint xdt:Transform="SetAttributes(address)"
                address="http://ComprenoOnline:8002/AnalysisService.svc/soap"/>
    </client>
  </system.serviceModel>
</configuration>